# GitHub Linguist Language Rules
ui_src/**/*.tsx linguist-language=TypeScript
ui_src/**/*.ts linguist-language=TypeScript
desktop_ui/assets/** linguist-vendored=true
chromadb_pkg/** linguist-vendored=true
*.ipynb linguist-vendored=true
*.ipynb linguist-documentation=true
*.iss linguist-vendored=true
*.iss linguist-documentation=true
