# Exclude vendored third-party dependencies from GitHub Linguist language stats
chromadb_pkg/** linguist-vendored=true
*.ipynb linguist-vendored=true
*.ipynb linguist-documentation=true
*.iss linguist-vendored=true
*.iss linguist-documentation=true
